@model IEnumerable<MysportShop.Models.BuyProduct>
@{
    ViewData["Title"] = "Order";
}

<h2>Order</h2>
<h1>@ViewBag.count</h1>


<h1>@ViewBag.ses</h1>

@foreach (var r in Model)
{
    <h1>@r.NameProduct</h1>
    <h1>@r.InfoWithProduct</h1>
}
